.recipeButton {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: var(--deep-pink);
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
}

.recipeButton:hover {
	border-color: var(--gray);
	background-color: var(--white);
	color: var(--deep-pink);
}

.icon {
	margin-right: 8px;
	font-size: 18px;
}
