body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.profileCard {
  width: 60%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeader {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  width: 100%;
  background-image: url("../../public/assets/images/profileBackground.jpg");
  background-size: 100% 200px;
  background-repeat: no-repeat;
}
.about{
  margin-top: 30px;
  width: 100%;
}
.aboutText{
  margin-top: 0;
}
.socials img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.socials{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.socialsHeader{
  width: 100%;
}
.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profileDetails {
  text-align: left;
  margin-left: 20px;
}

.profileName {
  font-size: 24px;
  margin: 10px 0;
  color: white;
}

.profileBio {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.storiesSection {
  width: 100%;
  margin-top: 30px;
}

.storiesSection h2 {
  margin-bottom: 10px;
}

.stories {
  display: flex;
  gap: 2rem;
  padding-bottom: 30px;
}

.story {
  width: 150px;
  height: 200px;
  background: #ddd;
  border-radius: 8px;
  text-align: center;
  line-height: 150px;
  font-size: 14px;
  color: #555;
  
}
.story img{
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px darkgray;
}

.recipesSection {
  width: 40%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipesSection h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.filter select {
  margin-left: 10px;
  padding: 5px;
}

.recipesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.recipeItem h2 {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.recipesImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recipeItem img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  border-radius: 8px;
}

.recipeItem {
  text-align: center;
}

.remove-button-small {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.remove-button-small:hover {
  background: #e60000;
}
.profileEditSection {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.profileEditSection h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.profileEditSection h2 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.profileEditSection input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
}

.profileEditSection .save-button {
  background-color: #007bff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profileEditSection .save-button:hover {
  background-color: #0056b3;
}

.Carosuel{
  width: 100%;
  padding-left: 0;
}
  


  