*,
*::before,
*::after {
	box-sizing: border-box;
	color: inherit;
	font-family: var(--roboto);
}

html,
body,
#root {
	height: 100%;
}

body {
	background: var(--white);
	margin: 0;
	color: var(--black);
}

/* Home */
.heroContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.heroImage {
	width: auto;
	height: 25rem;
	border-radius: 25px;
	margin-left: 8rem;
	margin-top: 3rem;
}

.shareContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 6rem;
}

.shareText {
	display: flex;
	flex-direction: column;
	margin-left: 8rem;
}

.shareImage {
	width: 22rem;
	height: 22rem;
	border-radius: 25px;
	object-fit: cover;
}

.somethingNew {
	padding-left: 16.8rem;
	margin-top: 6rem;
}

.recipeGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: 20px auto;
	max-width: 1000px;
	padding: 0 10px;
	margin-bottom: 6rem;
}

.RecipeDetailsInfo{
	margin-left: 2em;
}

.recipeDesc{
	box-sizing: border-box;
	color: inherit;
	font-family: var(--roboto);
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: 20em;
}

.recipeDetailsImg{
	width: 22rem;
	height: 22rem;
}

/*Recipe List*/
.RecipeLists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	min-width: 60vw;
}

.RecipeListLayout {
	display: flex;
	margin-bottom: 5em;
}

/*Filter*/
.Filter {
	display: flex;
	flex-direction: column;
	min-width: 20vw;
	padding-left: 2em;
	padding-right: 2em;

}

.FilterText {
	font-size: x-large;
}

.filterDetails {
	border: 1px solid var(--deep-pink);
	color: var(--deep-pink);
	border-radius: 15px;
	background-color: var(--white);
}

.filterSummary {
	font-size: x-large;
	padding: 0.5em;
	color: var(--white);
	background-color: var(--deep-pink);
	border-bottom: 2px solid var(--light-pink);
	border-radius: 10px;
}

.checkBox {
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	left: 14px
}

.checkBox:hover {
	background-color: var(--light-pink);
}

.RecommendedRecipes {
	min-width: 15vw;
	margin: 1em;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.PageHeading {
	padding-left: 2em;
}